@model PhoneBook2.Models.IletisimModel.IletisimEkleViewModel
@{
    ViewBag.Title = "IletisimEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Kisi.Ad @Model.Kisi.Soyad 'ye İletişim Bilgisi Ekle</h2>
<hr />
<h2>IletisimEkle</h2>
<table class="table">
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>


</table>    
