@model List<PhoneBook2.Models.Entities.Kisi>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>Ad</th>
        <th>Soyad</th>
        <th>İşlemler</th>
    </tr>
        @foreach (var kisi in Model)
        {
            <tr>
                <td>@kisi.Ad</td>
                <td>@kisi.Soyad</td>
                <td>@Html.ActionLink("Güncelle","Guncelle",new {id=kisi.Id }) |
                    @Html.ActionLink("Detay","Detay",new {id=kisi.Id })
                </td>
            </tr>  
        }

</table>
